.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shop {
    width: 1.5rem;
}

.search {
    width: 1.3rem;
}

li {
    list-style: none;

}

li a {
    text-decoration: none;
    color: #3A3A3A;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 30px;
}

.banner {
    display: flex;
    justify-content: space-between;
}


.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}

.menubar h3 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}

.heading h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #3A3A3A;
}

.heading p {
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
}

.prebook {
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    width: 9rem;
    height: 2rem;
}

.heading-img {
    background-image: url('./images/Circle\ design.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
    width: 30rem;
}

.sites ul {
    display: flex;
    justify-content: space-around;
}
.sites{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    
}