.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shop {
    width: 1.5rem;
}

.search {
    width: 1.3rem;
}

li {
    list-style: none;

}

li a {
    text-decoration: none;
    color: #3A3A3A;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 30px;
}

.banner {
    display: flex;
    justify-content: space-between;
}


.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}

.menubar h3 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}

.heading h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #3A3A3A;
}

.heading p {
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
}

.preebook {
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    width: 9rem;
    height: 2rem;
    font-weight: 600;
    font-size: 1rem;
}

.heading-img {
    background-image: url('./images/Circle\ design.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
    width: 30rem;
}

.sites ul {
    display: flex;
    justify-content: space-around;
}

.sites {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card-container{
    display: flex;
    flex-direction: column;
    width: 329px;
    height: 445px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2) ;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    
    
}
.card-container small{
    width: 196px;
    height: 61px;
}
.popular{
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
}
.all-cards{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.see-more{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
   
}
.see-more a{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color:#E02C6D;
    margin-left: 1287px;
    font-weight: 700;

}
.see-more a span{
    margin-right: 5px;
}